

body {

}

#detail{
    font-size: 18px; 
    padding-top: 20px; 
}

#content {
    display:flex; 
    align-items: flex-start; 
    background-color: beige; 
    width: 80%; 
    margin: 0 auto; 
    height: 250px; 
}


#sessionstoragedata {
    display: flex;
    align-items: center; 
    flex-direction: column;
    justify-content: space-around; 
    background-color: aliceblue; 
    width: 50%; 
    height: 500px; 
}

#welcome{
    display: flex;
    align-items: center; 
    flex-direction: column;
    justify-content: space-around; 
    width: 50%; 
    background-color: aliceblue; 
    height: 500px; 
}

#flexWrap {
    display:flex;
    align-items: flex-start; 
    flex-direction: row; 
    background-color: aliceblue; 
    width: 100%; 
    margin: 0 auto; 
    height: auto; 
    
}

.flexCont{
    display:flex;
    align-items: flex-start; 
    flex-direction: row; 
    justify-content:space-between;  
    background-color: aliceblue; 
    width: 80%; 
    margin: 0 auto; 
    height: auto; 
}

.flexItem{
    padding:2px; 
}


.items {
    padding: 1%; 
    font-size: 20px; 
}


#detail {
    visibility: hidden; 
}

#userDetails {
  
  width:60%;
  height: 250px;
  margin: 0 auto;
}